#code {
    height: 900px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #1D1F21;
    color: white;
    overflow: scroll;
    padding: 50px;
    z-index: 999;
    font-family: consola, serif;
    display: inline;
}

#codefa {
    display: none;
}

div#look {
    height: 75%;
    position: absolute;
    top: calc(12.5% + 5px);
    left: 5.5%;
    width: 21.5%;
    outline: rgb(22, 93, 255) solid 2px;
    border-radius: 18px;
    padding: 10px;
    background-color: #f0f1ec;
}

div#look_pos {
    height: 70%;
    position: absolute;
    top: calc(15% + 5px);
    left: 14.5%;
    width: 22%;
    padding: 10px;
    opacity: 0;
}

div#code_list {
    position: absolute;
    top: calc(10% + 5px);
    left: 21%;
    background-color: #ffffff65;
    height: 1.5%;
    width: 8%;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 24px;
    margin-bottom: 8px;
}

div#n {
    height: 1px;
    position: absolute;
    left: 1060px;
    top: 80px;
    width: 380px;
    background-color: pink;
    overflow: scroll;
    display: none;
    opacity: 0;
}

.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocklyTreeRow {
    height: initial;
}